* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    display: none;
  }
}
/* --third-color: #9bf9f4; */

body{

  background-color: #9bf9f4;
  /* background-color: blue; */
}
ul {
  padding: 0px;
}
/* .main-content{
  width: 80%;
  height: 80%;
  display: flex;
  border-radius: 20px;
  background-color: rgba(144, 238, 144, 0.163);
  padding: 1rem;
  gap: 1rem;
} */
